<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o directorio existe, lo sirve directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Todo lo demás va a index.php en la raíz del proyecto
    RewriteRule ^ index.php [L]
</IfModule>